<link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Teko&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous">
<body>
  
  <h1>Welcome to the location app</h1>
  <i class="fas fa-map-marked-alt" id="myicon"></i>

  
<div class="container">
    <div class="group">
    <form [formGroup]="loginForm"  (ngSubmit)="doLogin()" id="loginForm">
      <h2 class="login">Login</h2>
      <div class="form-group">
        <label class="label-form" for="email">Email:</label>
        <input [class.is-invalid]="loginForm.get('email').invalid && loginForm.get('email').touched" formControlName = "email" type="email" class="form-control" id="email" placeholder="Enter email" name="email">
        <!-- <small class="text-danger"
        *ngIf="loginForm.get('email').hasError('required')">
        This field is required.
        </small> -->
        <small class="text-danger"
        *ngIf="loginForm.get('email').touched && loginForm.get('email').errors?.pattern">
        Invalid format.
        </small>
      </div>
      <div class="form-group">
        <label class="label-form" for="pwd">Password:</label>
        <input formControlName="password" type="password" class="form-control" id="pwd" placeholder="Enter password" name="pwd">
      </div>
      <button type="submit" class="btn btn-info" [disabled]="loginForm.invalid" >Login</button>
    </form>
    </div>
  </div>
</body>
